
h1{
	color:purple; background-color:rgb(255,251,240)；
}

h2{
	color:brown;
}

body{
	background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202004%2F28%2F20200428135808_ESUiu.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1700152223&t=11554bf3955ffc5fa0086cb9fa9ddb3f');
}